
body {
    font-family: Arial;
    background: linear-gradient(120deg,#89f7fe,#66a6ff);
    text-align: center;
}

.container {
    background: white;
    width: 420px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 70%;
    margin: 5px;
}

button {
    padding: 8px 12px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

li {
    list-style: none;
    background: #f1f1f1;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.filters button {
    margin: 5px;
}